
#logo {
    position: relative;
    left: 50%;
    width: 250px;
    height: 200px;
    margin-left: -125px;
}

.icon {
    width: 200px;
    height: 150px;
    position: relative;
    padding: 3px;
    border: 5px solid #ff66d8;
}

.iconSquare {
    width: 150px;
    height: 150px;
    position: relative;
    padding: 3px;
    border: 5px solid #ff66d8;
}

h1 {
    position: relative;
    color: #333333;
    left: 50%;
    margin-left: -150px;
    font-size: 40px;
    font-family: 'TitleFont', Fallback, sans-serif;
}

.light {
    color: floralwhite;
    padding-left: 100px;
    padding-right: 100px;
}

.dark {
    color:#333333;
    padding-left: 100px;
    padding-right: 100px;
}

.darkTitle {
    color: #333333;
    padding: 50px;
    margin-bottom: -30px;
    size: 420px;
    font-family: 'TitleFont', Fallback, sans-serif;
}

.lightTitle {
    color: floralwhite;
    padding: 50px;
    margin-bottom: -30px;
}

h5 {
    position: relative;
    color: #333333;
    left: 50%;
    margin-left: 
}

h6{
    position: relative;
    color: #333333;
    left: 50%;
    margin-left: -60px;
}

a {
    text-decoration: none;
}

@font-face {
  font-family: 'TitleFont';
  src: url('curlyfont.ttf')  format('truetype');
}

.centeredButtons {
    position:relative;
    left: 50%;
    margin-left: -220px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#about{
    margin-top: 200px;
    background: linear-gradient(#43cea2, #185a9d);
}

#learning{
    padding-bottom: 100px;
}